<server description="Open Liberty Server">
    <featureManager>
        <feature>localConnector-1.0</feature>
        <feature>servlet-4.0</feature>
        <feature>jsp-2.3</feature>
        <feature>transportSecurity-1.0</feature>
        <feature>jaxws-2.2</feature>
        <feature>jdbc-4.3</feature>
        <feature>jndi-1.0</feature>
        <feature>javaMail-1.6</feature>
        <feature>appSecurity-3.0</feature>
        <feature>bells-1.0</feature>
    </featureManager>

    <keyStore fileBased="true" id="defaultKeyStore" location="${env.KEYSTORE_LOCATION}" password="${env.KEYSTORE_PASSWORD}" type="PKCS12"/>
    <keyStore fileBased="true" id="defaultTrustStore" location="${env.TRUSTED_KEYSTORE_LOCATION}" password="${env.TRUSTED_KEYSTORE_PASSWORD}" type="PKCS12"/>

    <httpEndpoint id="defaultHttpEndpoint" host="*" httpPort="9080" httpsPort="9443" sslRef="defaultSSLConfig"/>
    <ssl id="defaultSSLConfig" keyStoreRef="defaultKeyStore" trustStoreRef="defaultTrustStore"/>

    <httpSession cloneId="${env.CLONE_ID}" cookieHttpOnly="true" cookieName="${env.SESSION_COOKIE_NAME}" cookiePath="/" cookieSecure="true" invalidationTimeout="${env.SESSION_TIMEOUT}" maxInMemorySessionCount="10000" securityIntegrationEnabled="false"/>

    <!-- Enable logging -->
    <logging maxFileSize="100" maxFiles="10"  traceSpecification=""/>

    <ltpa expiration="${env.LTPA_SFA_EXPIRATION}" keysFileName="${env.LTPA_KEY_FILE_SFA}" keysPassword="${env.LTPA_KEY_PASSWORD_SFA}" />

    <!-- Mail Session for JavaMail -->
    <mailSession id="StudentMailSession" jndiName="mail/StudentMailSession" description="Mail session for sending emails through SendGrid"
        host="localhost"
        from="noreply@example.com"
        port="25"
        transportProtocol="smtp"
        mailSessionID="SendGridMailSession" password="changeit" user="user"/>

    <applicationMonitor updateTrigger="mbean"/>

    <library id="devLibrary">
        <fileset dir="D:\lib\dev" includes="*.jar"/>
    </library>

    <library id="mysql-lib">
        <fileset dir="D:\lib\mysql" includes="*.jar"/>
    </library>
    <dataSource id="StudentDB" jndiName="jdbc/StudentDB">
        <jdbcDriver libraryRef="mysql-lib"/>
        <properties URL="jdbcurl"
            user="test"
            password="test"/>
        <className>com.mysql.cj.jdbc.Driver</className>
    </dataSource>

    <webApplication location="OpenLibertyApp.war" contextRoot="/" applicationName="OpenLibertyApp">
        <classloader commonLibraryRef="devLibrary"/>
    </webApplication>
</server>
